<div class="container">

  <form class="col-10 h-100 text-center align-items-center">
    <fieldset>
      <!-- <legend><img class="legend-img mb-2"></legend> -->
      <h4 class="text-light mb-5">USER LOGIN</h4>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button class="btn btn-outline-light m-2">LOGIN</button>
    </fieldset>
  </form>
  <!-- <a [routerLink]="['/home/register']">Not a user : SIGNUP</a> -->

</div>