<div class="container pt-5">
  <h1 class="mb-3">Products Details</h1>
  <table class="table w-100">
    <tr class="thead-dark">
      <th scope="col">PRODUCT ID</th>
      <th scope="col">PRODUCT NAME</th>
      <th scope="col">PRODUCT CETEGORY</th>
      <th scope="col">PRICE</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">DESCRIPTION</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngIf="status==0&&allProductData==null">
      <td colspan="7">
        <img src="../../../assets/images/lineloader.gif" width="100%" height="100%">
      </td>
    </tr>
    <tr *ngIf="status==-1&&allProductData==null">
      <td></td>
      <td></td>
      <td colspan="3">
        <img src="../../../assets/images/error.gif" width="" height="60%">
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let prod of allProductData">
      <td>{{prod.Id}}</td>
      <td>{{prod.Name}}</td>
      <td>{{prod.CategoryName}}</td>
      <td>{{prod.Price}}</td>
      <td>{{prod.Quantity}}</td>
      <td>{{prod.Description}}</td>
      <td>
        <a [routerLink]="['/productview',prod.Id]">
          <img class="link-img" src="../../../assets/images/view.png" title="View">
        </a>
      </td>
      <td>
        <a [routerLink]="['/productupdate',prod.Id]">
          <img class="link-img" src="../../../assets/images/edit.png" title="Edit">
        </a>
      </td>
      <td>
        <a (click)="deleteProduct(prod.Id)">
          <img class="link-img" src="../../../assets/images/delete.png" title="Delete">
        </a>
      </td>
    </tr>

  </table>

  <div>
    <button class="btn btn-primary" [routerLink]="['/productadd']">ADD PRODUCT</button>
  </div>

</div>