<div class="container pt-5">
  <h1 class="mb-3">Category Details</h1>
  <table class="table w-100">
    <tr class="thead-dark">
      <th scope="col">CATEGORY ID</th>
      <th scope="col">CATEGORY NAME</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">CREATED BY</th>
      <th scope="col">CREATED ON</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngIf="status==0&&allCategoryData==null">
      <td colspan="7">
        <img src="../../../assets/images/lineloader.gif" width="100%" height="100%">
      </td>
    </tr>
    <tr *ngIf="status==-1&&allCategoryData==null">
      <td></td>
      <td></td>
      <td colspan="3">
        <img src="../../../assets/images/error.gif" width="" height="60%">
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let cat of allCategoryData">
      <td>{{cat.Id}}</td>
      <td>{{cat.Name}}</td>
      <td>{{cat.Description}}</td>
      <td>{{cat.CreatedBy}}</td>
      <td>{{cat.CreatedOn|date}}</td>
      <td>
        <a [routerLink]="['/categoryview',cat.Id]">
          <img class="link-img" src="../../../assets/images/view.png" title="View">
        </a>
      </td>
      <td>
        <a [routerLink]="['/categoryupdate',cat.Id]">
          <img class="link-img" src="../../../assets/images/edit.png" title="Edit">
        </a>
      </td>
      <td>
        <a (click)="deleteCategory(cat.Id)">
          <img class="link-img" src="../../../assets/images/delete.png" title="Delete">
        </a>
      </td>
    </tr>

  </table>

  <div>
    <button class="btn btn-primary" [routerLink]="['/categoryadd']">ADD CATEGORY</button>
  </div>

</div>
